In [1]:
from tm2py.acceptance import Acceptance
import numpy as np
import pandas as pd
import os

In [2]:
scenario_config_file = "../examples/scenario_config.toml"
model_config_file = "../examples/model_config.toml"
observed_config_file = "../examples/observed_data.toml"

In [3]:
a = Acceptance(scenario_config_file, model_config_file, observed_config_file)

In [4]:
a.make_acceptance()

In [5]:
a.reduced_transit_on_board_df.head()

,survey_tech,operator,route,time_period,boarding_weight,florida_threshold,survey_agency,survey_route,standard_route_id,standard_line_name,canonical_operator,standard_route_short_name
0,express bus,SamTrans,KX,am,564.96674,1.5,NaN,NaN,NaN,NaN,NaN,NaN
1,express bus,SamTrans,KX,ea,122.53336,1.5,NaN,NaN,NaN,NaN,NaN,NaN
2,express bus,SamTrans,KX,ev,60.77826,1.5,NaN,NaN,NaN,NaN,NaN,NaN
3,express bus,SamTrans,KX,md,667.00005,1.5,NaN,NaN,NaN,NaN,NaN,NaN
4,express bus,SamTrans,KX,pm,591.22173,1.5,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
a.reduced_transit_on_board_df.standard_route_id.value_counts()

BART        1927
196          940
CalTrain     547
1             63
247           20
            ...
564            2
312            2
141            1
140            1
355            1
Name: standard_route_id, Length: 447, dtype: int64

In [7]:
a.simulated_boardings_df.head()

,line_name,description,total_boarding,total_hour_cap,tm2_mode,line_mode,headway,fare_system,time_period,vehicle_mode
0,10_573_198_AM_d0_s493,Hollis,19.054232,41.139723,12,b,65.63,99,am,NaN
1,10_573_199_AM_d0_s492,Hollis North,68.643437,253.283302,12,b,10.66,99,am,NaN
2,10_573_200_AM_d0_s498,Hollis South,75.072871,253.283302,12,b,10.66,99,am,NaN
3,10_573_201_AM_d0_s490,Shellmound/Powell,22.022352,41.139723,12,b,65.63,99,am,NaN
4,10_573_202_AM_d0_s494,South Shellmound/Powell,27.425850,235.191638,12,b,11.48,99,am,NaN