## Consolidate On-board Survey Assign Summaries
Right now Jia Hao's assignment of the on-board survey demand is being done separately for each path. Until he updates his work flow, this script consolidates the assignment results across the paths and creates the input expected by 'on-board-assign-summary.ipynb'.

In [9]:
import pandas as pd

### Remote I/O

In [10]:
input_dir = r"/Users/wsp/Documents/GitHub/tm2py/examples/temp_on_board_assign/"
output_dir = r"/Users/wsp/Documents/GitHub/tm2py/examples/temp_acceptance/output_summaries/"

In [11]:
running_df = pd.DataFrame()
for path_num in range(1,6):
    path = input_dir + "boardings_by_line_am_0" + str(path_num) + ".csv"
    df = pd.read_csv(path) 
    print("path_num: ", path_num, "  boardings: ", df["total_boarding"].sum())
    if path_num == 1:
        running_df = df
    else:
        running_df = pd.concat([running_df, df])

running_df["total_boarding"].sum()

path_num:  1   boardings:  163856.63353654742
path_num:  2   boardings:  56231.86162534356
path_num:  3   boardings:  880.2438380420208
path_num:  4   boardings:  32331.99257171154
path_num:  5   boardings:  6130.786070913076

259431.51764255762

In [12]:
output_df = running_df.groupby(["line_name", "description", "tm2_mode", "line_mode", "headway", "fare_system"]).agg({"total_boarding": "sum", "total_hour_cap": "max"}).reset_index()
output_df.head()

,line_name,description,tm2_mode,line_mode,headway,fare_system,total_boarding,total_hour_cap
0,10_573_198_AM_d0_s493,Hollis,12,o,80.0,18,0.0,33.750000
1,10_573_199_AM_d0_s492,Hollis North,12,o,13.0,18,0.0,207.692308
2,10_573_200_AM_d0_s498,Hollis South,12,o,13.0,18,0.0,207.692308
3,10_573_201_AM_d0_s490,Shellmound/Powell,12,o,80.0,18,0.0,33.750000
4,10_573_202_AM_d0_s494,South Shellmound/Powell,12,o,14.0,18,0.0,192.857143

In [13]:
output_df.to_csv(output_dir + "boardings_by_line_am.csv", index=False)