## Consolidate On-board Survey Assign Summaries
Right now the assignment of the on-board survey demand is being done separately for each path. We are looking into why this is happening and expect to fix it soon. For now, this script consolidates the assignment results across the paths and creates the input expected by 'on-board-survey-assign-summary.ipynb'.

In [13]:
import pandas as pd

### Remote I/O

In [14]:
dir = r"/Users/wsp/Documents/GitHub/tm2py/examples/temp_acceptance/output_summaries/"

In [15]:
running_df = pd.DataFrame()
for path_num in range(1,6):
    path = dir + "boardings_by_line_am_" + str(path_num) + ".csv"
    df = pd.read_csv(path) 
    print("path_num: ", path_num, "  boardings: ", df["total_boarding"].sum())
    if path_num == 1:
        running_df = df
    else:
        running_df = pd.concat([running_df, df])

running_df["total_boarding"].sum()

path_num:  1   boardings:  129122.98029420098
path_num:  2   boardings:  265079.351375192
path_num:  3   boardings:  5121.7775080110005
path_num:  4   boardings:  81572.98784308501
path_num:  5   boardings:  10601.749008038

491498.8460285269

In [17]:
output_df = running_df.groupby(["line_name", "description", "tm2_mode", "line_mode", "headway", "fare_system"]).agg({"total_boarding": "sum", "total_hour_cap": "max"}).reset_index()
output_df.head()

,line_name,description,tm2_mode,line_mode,headway,fare_system,total_boarding,total_hour_cap
0,10_573_198_AM_d0_s493,Hollis,12.0,o,80.0,18.0,0.0,33.750000
1,10_573_199_AM_d0_s492,Hollis North,12.0,o,13.0,18.0,0.0,207.692308
2,10_573_200_AM_d0_s498,Hollis South,12.0,o,13.0,18.0,0.0,207.692308
3,10_573_201_AM_d0_s490,Shellmound/Powell,12.0,o,80.0,18.0,0.0,33.750000
4,10_573_202_AM_d0_s494,South Shellmound/Powell,12.0,o,14.0,18.0,0.0,192.857143

In [18]:
output_df.to_csv(dir + "boardings_by_line_am.csv", index=False)